@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Wix Madefor Text", sans-serif;
  font-weight: 600;
}
body{
  background-color: #101826
}

.myBtn{
  @apply bg-myBlue w-full rounded-2xl  py-2 px-5 text-lg hover:transition-all hover:scale-95 duration-100;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  @apply w-full border  rounded-xl py-2 px-4 text-black;
}
